# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/
bin/
include/
lib/
pyvenv.cfg

# Dependencies
/lib64

# Environment variables
.env
*.env

# Google Cloud Credentials
google-credentials.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
venv.old/

# Local database
dev_db.json